<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.hitpoints.value" class="resource-label">Hit Points</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.hitpoints.value" value="{{system.hitpoints.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.hitpoints.max" value="{{system.hitpoints.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stress.value" class="resource-label">Stress</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.stress.value" value="{{system.stress.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.stress.max" value="{{system.stress.max}}" data-dtype="Number"/>
          </div>
        </div>

          <div class="resource flex-group-center">
              <label for="system.armor.value" class="resource-label">Armor</label>
              <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="system.armor.max" value="{{system.armor.max}}" data-dtype="Number"/>
              </div>
          </div>

          <div class="resource flex-group-center">
              <label for="system.hope.value" class="resource-label">Hope</label>
              <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="system.hope.value" value="{{system.hope.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="system.hope.max" value="{{system.hope.max}}" data-dtype="Number"/>
              </div>
          </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
        <div class="abilities flexrow">
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.agility.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.agility.mod" data-label="Agility">Agility</label>
                <input type="text" name="system.abilities.agility.value" value="{{system.abilities.agility.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.agility.mod" data-label="Agility">{{numberFormat system.abilities.agility.value sign=true}}</span>
            </div>
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.strength.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.strength.mod" data-label="Strength">Strength</label>
                <input type="text" name="system.abilities.strength.value" value="{{system.abilities.strength.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.strength.mod" data-label="Strength">{{numberFormat system.abilities.strength.value sign=true}}</span>
            </div>
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.finesse.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.finesse.mod" data-label="Finesse">Finesse</label>
                <input type="text" name="system.abilities.finesse.value" value="{{system.abilities.finesse.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.finesse.mod" data-label="Finesse">{{numberFormat system.abilities.finesse.value sign=true }}</span>
            </div>
        </div>
        <div class="abilities flexrow">
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.instinct.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.instinct.mod" data-label="Instinct">Instinct</label>
                <input type="text" name="system.abilities.instinct.value" value="{{system.abilities.instinct.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.instinct.mod" data-label="Instinct">{{numberFormat system.abilities.instinct.value sign=true}}</span>
            </div>
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.presence.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.presence.mod" data-label="Presence">Presence</label>
                <input type="text" name="system.abilities.presence.value" value="{{system.abilities.presence.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.presence.mod" data-label="Presence">{{numberFormat system.abilities.presence.value sign=true}}</span>
            </div>
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.knowledge.value" class="resource-label rollable flexlarge align-left" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.knowledge.mod" data-label="Knowledge">Knowledge</label>
                <input type="text" name="system.abilities.knowledge.value" value="{{system.abilities.knowledge.value}}" data-dtype="Number"/>
                <span class="ability-mod rollable" data-roll-type="duality" data-roll="1d12[hope]+1d12[fear]+@abilities.knowledge.mod" data-label="Knowledge">{{numberFormat system.abilities.knowledge.value sign=true}}</span>
            </div>
        </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/daggerheart/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/daggerheart/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/daggerheart/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/daggerheart/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
